@using ReportMS.DataTransferObjects.Dtos
@model IEnumerable<ReportDto>

<div>
    <div class="ibox-title">
        <div class="ibox-tools rboor">
            <a class="btn btn-primary btn-xs" data-dialog="true" data-ajax-form="true" data-dialog-href="@Url.Action("CreateReport")" data-dialog-title="Create Report"
               data-ajax-success="createReportSuccess" data-ajax-failure="createReportFailure">
                <span class="glyphicon glyphicon-plus"></span> Add Report
            </a>
        </div>
    </div>

    <div class="ibox-content" id="report">
        @if (Model.HasAny())
        {
            <table id="table_report" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>ReportName</th>
                        <th>DisplayName</th>
                        <th>Description</th>
                        <th>Database</th>
                        <th>Schema</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.ReportName)</td>
                            <td>@Html.DisplayFor(m => item.DisplayName)</td>
                            <td>@Html.DisplayFor(m => item.Description)</td>
                            <td>@Html.DisplayFor(m => item.Rdbms.Name)</td>
                            <td>@Html.DisplayFor(m => item.Schema)</td>
                            <td>
                                <a class="btn btn-primary btn-xs" data-dialog="true" data-ajax-form="true" data-dialog-href="@Url.Action("EditReport", new {reportId = item.ID})"
                                   data-dialog-title="Edit Report" data-ajax-success="modifyReportSuccess">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </a>
                                <a class="btn btn-danger btn-xs" data-href="@Url.Action("DeleteReport")" data-report-id="@item.ID" onclick=" deleteReport(this); ">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>