@using ReportMS.Web.Client.Models
@model ReportModifyViewModel

@using(Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div>
        <div class="form-group">
            @Html.LabelFor(m => m.Report.DisplayName, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Report.DisplayName, new { @class = "form-control", required = "", maxlength = "80" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Report.Description, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Report.Description, new { @class = "form-control", maxlength = "100" })
            </div>
        </div>
    </div>
    <div>
        @if (Model.TableSchemas.HasAny())
        {
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>No.</th>
                        <th>TableName</th>
                        <th>TableSchema</th>
                        <th>ColunmName</th>
                        <th>DataType</th>
                        <th>OriginalDataType</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TableSchemas.OrderBy(t => t.OrdinalPosition))
                    {
                        <tr>
                            <td>
                                @if (Model.Report.Fields.Any(f => f.FieldName == item.ColunmName))
                                {
                                    <input type="checkbox" name="colunms" value="@item.ColunmName" checked="checked" />
                                }
                                else
                                {
                                    <input type="checkbox" name="colunms" value="@item.ColunmName" />
                                }
                            </td>
                            <td>@Html.DisplayFor(m => item.OrdinalPosition)</td>
                            <td>@Html.DisplayFor(m => item.TableName)</td>
                            <td>@Html.DisplayFor(m => item.TableSchema)</td>
                            <td>@Html.DisplayFor(m => item.ColunmName)</td>
                            <td>@Html.DisplayFor(m => item.DataType)</td>
                            <td>@Html.DisplayFor(m => item.OriginalDataType)</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="form-group">
        <div class="col-md-offset-5 col-md-12">
            <input type="submit" value="submit" class="btn btn-primary"/>
        </div>

        @Html.HiddenFor(m => m.Report.ID)
    </div>
}