@using ReportMS.DataTransferObjects.Dtos
@model IEnumerable<ReportDto>

@{
    ViewBag.Title = "Report Manage";
}

@section scripts
{
    <script>
        function createReportSuccess(data) {
            if (data.status === "success") {
                reloadReport();
            } else {
                alert(data.message);
            }
        }

        function modifyReportSuccess(data) {
            if (data.status === "success") {
                reloadReport();
            } else {
                alert(data.message);
            }
        }

        function deleteReport(element) {
            if (!confirm("Are you want to delete it ?"))
                return false;

            var url = $(element).attr("data-href");
            var id = $(element).attr("data-report-id");
            $.post(url, { reportId: id }, function (data) {
                if (data.status === "success")
                    reloadReport();
                else
                    alert(data.message);
            });
            return true;
        }

        function reloadReport() {
            var href = "@Url.Action("Index")" + " #table_report";
            $("#retport").load(href);
        }
    </script>
}

@Html.Navigate("Manage", "Report")

<div>
    <div class="ibox-title">
        <div class="ibox-tools rboor">
            <a class="btn btn-primary btn-xs" data-dialog="true" data-ajax-form="true" data-dialog-href="@Url.Action("CreateReport")" data-dialog-title="Create Report"
               data-ajax-success="createReportSuccess" data-ajax-failure="createReportFailure">
                <span class="glyphicon glyphicon-plus"></span> Add Report
            </a>
        </div>
    </div>

    <div id="retport">
        @if (Model.HasAny())
        {
            <table id="table_report" class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>ReportName</th>
                    <th>DisplayName</th>
                    <th>Description</th>
                    <th>Database</th>
                    <th>Schema</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => item.ReportName)</td>
                        <td>@Html.DisplayFor(m => item.DisplayName)</td>
                        <td>@Html.DisplayFor(m => item.Description)</td>
                        <td>@Html.DisplayFor(m => item.Database)</td>
                        <td>@Html.DisplayFor(m => item.Schema)</td>
                        <td>
                            <a class="btn btn-primary btn-xs" data-dialog="true" data-ajax-form="true" data-dialog-href="@Url.Action("EditReport", new {reportId = item.ID})"
                               data-dialog-title="Edit Report" data-ajax-success="modifyReportSuccess" data-ajax-failure="modifyReportFailure">
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <a class="btn btn-danger btn-xs" data-href="@Url.Action("DeleteReport")" data-report-id="@item.ID" onclick="deleteReport(this);">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
    </div>
</div>

