@using ReportMS.DataTransferObjects.Dtos
@model RoleDto
    
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-md-3 control-label" for="RoleName">Role Name</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", required = "", data_format = "string", maxlength = "40", onpaste = "return false;" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label" for="DisplayName">Display Name</label>
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.DisplayName, new { @class = "form-control", required = "", maxlength = "80" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-3 control-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", maxlength = "100" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <input type="submit" value="submit" class="btn btn-primary"
                       onclick="return confirm('After submitted, the role name would not allowed modified, are you want to continue submit ?');" />
            </div>
        </div>
    }
</div>
