@model IEnumerable<ReportMS.DataTransferObjects.Dtos.MenuDto>

@{
    var index = 1;
}

<div>
    @if (Model != null && Model.HasAny())
    {
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>DisplayName</th>
                <th>Description</th>
                <th>level</th>
                <th></th>
            </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                <tr>
                    <td>@(index++)</td>
                    <td>@Html.DisplayFor(m => item.MenuName)</td>
                    <td>@Html.DisplayFor(m => item.DisplayName)</td>
                    <td>@Html.DisplayFor(m => item.Description)</td>
                    <td>@Html.DisplayFor(m => item.Level)</td>
                    <td>
                        <a class="btn btn-primary btn-xs" data-dialog="true" data-ajax-form="true" data-dialog-href="@Url.Action("EditMenu", new { menuId = item.ID })"
                           data-dialog-title="Edit Menu" data-ajax-success="modifyMenuSuccess">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger btn-xs" data-href="@Url.Action("DeleteMenu")" data-menu-id="@item.ID" onclick="return deleteMenu(this);">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                        <a class="btn btn-info btn-xs" data-dialog="true" data-ajax-form="true" data-dialog-href="@Url.Action("AttachMenuToRole", new { menuId = item.ID})"
                           data-dialog-title="Attach Menu To Roles" data-ajax-success="attachmenuToRolesSuccess"
                           data-toggle="tooltip" title="Attach the menu to roles">
                            <span class="glyphicon glyphicon-plus-sign"></span>
                        </a>
                    </td>
                </tr>
                </tbody>
            }
        </table>
    }
</div>

