@using ReportMS.DataTransferObjects.Dtos
@model ReportGroupDto

@{
    var index = 1;
    var profiles = (IEnumerable<ReportProfileDto>) ViewBag.Profiles;
    var groupProfiles = Model.ReportGroupItems ?? new List<ReportGroupItemDto>();
}

<div>
    @if (!profiles.HasAny())
    {
        <div>Not any report profile item.</div>
        return;
    }

    @using (Html.BeginForm(null, null, FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
        @Html.AntiForgeryToken()
        <table class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th></th>
                <th>No.</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            @foreach (var item in profiles.OrderBy(p => p.Name))
            {
                <tbody>
                <tr>
                    <td>
                        @if (groupProfiles.Any(g => g.ReportProfileId == item.ID))
                        {
                            <input type="checkbox" name="profiles" checked="checked" value="@item.ID" />
                        }
                        else
                        {
                            <input type="checkbox" name="profiles" value="@item.ID" />
                        }                        
                    </td>
                    <td>@(index++)</td>
                    <td>@Html.DisplayFor(m => item.Name)</td>
                    <td>@Html.DisplayFor(m => item.Description)</td>
                </tr>
                </tbody>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-5 col-md-12">
                <input type="submit" value="Submit" class="btn btn-primary"/>
            </div>
        </div>
        @Html.HiddenFor(m => m.ID)
    }
</div>
